In [1]:
#pip install pandas

In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
Directorio = os.getcwd()
archivo = 'data.csv'

df = pd.read_csv(os.path.join(Directorio,archivo),sep=' ')

In [4]:
df

,NPV_of_Future_Cash_Flows(in_million$),Cost_of_Project(in_million$),Time_to_Maturity(in_years),Discount_Rate,S.D.of_Cash_Flows(in_million$),Real_Option_Value(in_million$)
0,89.952460,96.249132,2.53,0.0585,0.10,9.637164
1,66.534489,48.570177,1.18,0.0931,0.20,23.129083
2,23.355824,24.056498,1.36,0.0628,0.16,1.129440
3,4.655577,3.258904,2.09,0.0101,0.28,0.145500
4,8.806823,8.806823,1.22,0.0701,0.10,0.117101
...,...,...,...,...,...,...
999995,21.813176,12.433510,2.03,0.0175,0.39,10.444891
999996,35.471402,24.120553,1.47,0.0240,0.22,0.186341
999997,44.132521,51.635050,2.50,0.0592,0.20,5.372234
999998,53.721970,57.482508,2.99,0.0310,0.42,14.385802
999999,62.192125,34.205669,2.38,0.0406,0.26,31.431051

In [5]:
df.describe()

,NPV_of_Future_Cash_Flows(in_million$),Cost_of_Project(in_million$),Time_to_Maturity(in_years),Discount_Rate,S.D.of_Cash_Flows(in_million$),Real_Option_Value(in_million$)
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,49.982789,49.742838,1.544819,0.050006,0.250137,8.634098
std,28.854541,33.189098,0.837749,0.028832,0.141286,10.464668
min,0.000119,0.000116,0.100000,0.000100,0.010000,0.000000
25%,24.996517,22.617345,0.820000,0.025100,0.130000,0.600217
50%,49.983445,45.239832,1.550000,0.050000,0.250000,4.370724
75%,74.945058,71.878028,2.270000,0.075000,0.370000,13.168526
max,99.999853,148.991667,2.990000,0.099900,0.490000,62.882074